@import "tailwindcss";
@plugin "@midudev/tailwind-animations";
:root {
  --background: #ffffff;
  --foreground: #06182D;
  --dark-blue: #06182D;
  --principal: #0167b2;
  --yellow: #f3bd1c;

  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-kdam: var(--font-kdam) 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #151525;
    --foreground: #ededed;
  }
}

body {
  background: linear-gradient(to left, #0b2748, #010c15);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  
  font-weight: bolder;
}

@layer components {
  .link-nav {
    @apply text-white hover:text-[#FCBD18] transition-colors duration-300;
  }

  .section-title{
    @apply text-(--yellow) font-extrabold text-xl m-3
  }
  .bg-principal{
    @apply bg-gradient-to-tl from-[#003963] to-[#0066b0];
  }
  .scale-animation{
    @apply transition-all duration-300 hover:scale-105
  }

  .btn-primary{
    @apply bg-(--principal) hover:cursor-pointer text-white py-2 px-4 rounded-4xl hover:bg-(--yellow) hover:text-gray-800 active:brightness-50 disabled:bg-gray-700 disabled:text-gray-400 disabled:cursor-no-drop transition-colors duration-300 shadow-md shadow-black/30;
  }
  .btn-secondary{
    @apply bg-transparent border-2 border-white text-white py-2 px-4 rounded-4xl hover:bg-gray-800 hover:text-white transition-colors shadow-md shadow-black/30 duration-300;
  }
}